<div class="mt30 text-center mb30">
  <img alt="Be4code Logo" src="assets/logo.png"/><br>
  <h1>ngx-double-scrollbar</h1>
</div>

<div class="container">
  <ngx-double-scrollbar>
    <div class="long-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in pulvinar sem, at mollis ante. Etiam et
      libero augue. Sed ullamcorper ligula at ligula finibus sodales. Mauris in tempus ipsum. Nulla convallis gravida
      egestas. Maecenas finibus elementum commodo. Aliquam erat volutpat. Aliquam eleifend metus nisi, vel egestas neque
      laoreet non. Nam non imperdiet nisl, nec hendrerit risus. Mauris eget hendrerit odio. Nam ullamcorper massa vitae
      diam lobortis facilisis.<br>
      <br>
      Morbi ex dolor, faucibus vitae commodo quis, eleifend eu erat. Proin id felis nec felis vulputate congue in
      aliquet
      lacus. In sed consequat lectus. Nulla ultrices, purus quis ultricies ullamcorper, nunc enim fermentum felis, in
      mattis metus quam in mi. Ut lobortis mauris justo, ut vehicula dolor imperdiet eu. Vivamus ut viverra arcu, eu
      viverra eros. Proin venenatis, leo non pharetra mollis, massa urna blandit felis, non mattis odio nulla quis est.
      Sed cursus, enim efficitur consequat lacinia, felis sapien finibus magna, non cursus est nunc quis ipsum. Aliquam
      et
      dui finibus, lacinia diam ornare, malesuada mauris. Aliquam vel commodo est.<br>
      <br>
      Morbi semper auctor feugiat. Nunc aliquam, risus ut maximus consectetur, turpis ante tristique tortor, id feugiat
      purus erat quis ligula. Praesent vitae malesuada ex, vitae blandit enim. Nullam purus erat, mollis at pharetra ac,
      porta in sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      Vestibulum
      est lectus, viverra ut gravida eget, consequat sit amet massa. Aliquam lobortis, purus eget elementum varius,
      lorem
      nisi blandit nisl, et tincidunt dui nisi vitae sem. Integer sit amet sodales diam. Suspendisse fringilla purus non
      elementum consectetur. Aliquam orci magna, dictum sit amet massa ut, fringilla dapibus risus. Curabitur euismod
      lorem tristique, eleifend eros dignissim, viverra augue. Aenean efficitur feugiat risus, quis finibus mauris
      placerat posuere. Ut vitae blandit justo. Sed massa tellus, vulputate non tempus in, molestie ut augue.<br>
      <br>
      Etiam vulputate commodo erat vel vestibulum. Etiam pretium at nisl in euismod. Donec ut lacus a felis pretium
      rutrum
      finibus ac magna. Sed ligula metus, malesuada eu imperdiet at, rhoncus in odio. Morbi at egestas orci. Vestibulum
      maximus sapien sapien, vitae pulvinar nunc sodales sed. Integer et molestie nibh, sit amet placerat arcu. Duis
      porta
      massa non nisi sodales, eu lobortis massa congue. Integer auctor justo eleifend nisl porttitor rutrum.<br>
      <br>
      In scelerisque pretium lacinia. Sed nibh enim, ultricies vel pretium et, hendrerit non nunc. Nunc blandit placerat
      purus nec convallis. Nullam sapien justo, pellentesque id lectus lobortis, facilisis euismod leo. Pellentesque
      habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer posuere enim quis est
      consequat aliquet. Sed ornare gravida justo id lobortis. Curabitur luctus magna et mauris fermentum, sit amet
      suscipit nulla efficitur.
    </div>
  </ngx-double-scrollbar>
</div>
